<html>
    <head>
        <title>Student Login</title>
        <style>
          .control-label {
		        position: relative;
                width: 100%;
                margin-bottom: 40px;
                box-sizing: border-box;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: black;
            }
        </style>
    </head>
    <body>
        <form method="post" action="{% url 'choose' %}">
            {% csrf_token %}
            <div class= "control-label"}>
                <h1>Add new words</h1>
                <label >Subject : </label>
        <select class = "txtPost" name = "subject" required>
            <option value="">select</option>
          <option value="English">English</option>
          <option value="Mathematics">Mathematics</option>
             <option value="physics">physics</option>
             <option value="biology">biology</option>
             <option value="social studies">social studies</option>
        </select>
            </div>

            <div class= "control-label"}>

            <label >word : </label>
               <input type = "text" class = "txtPost" placeholder = "id" name="word" required>
            </div>

                <div class= "control-label"}>
                  <button type="submit" class ="btnPost btnBlue" >save</button>
                </div>
            </div>
            </form>

    </body>
</html>