
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Adding new words</title>
    <style>
        #myselection {
				bottom: 15%;
				margin-left:50px;
				margin-bottom :100px;
				font-size: 8;
				left:0%;
				width:20%;
				align: centre;
				background: pink;
				}

		.control-label {
		    position: relative;
            width: 100%;
            margin-bottom: 40px;
            box-sizing: border-box;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: black;
            }


    </style>
</head>
<body>

<form method="post" action="index.html">
    <div  class="control-label">
<h1 >adding new words</h1>
    {% csrf_token %}
    {{ form.as_p }}
 <!--  <div  class="control-label">
<h1 >adding new words</h1>
    <br><br>
<div class= "control-label"}>
<label >Subject : </label>
       {{ form.subject }}
    </div>
<input type="text"  value="" name="subject"  required>
       <label >Word : </label>
       {{ form.word }}
<input type="text"  value="" name="word"  required>

    <br><br> -->
<input type="submit" value="save" name="submit">

</div>

</form>
</body>
</html>