
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Adding new words</title>
    <style>
        #myselection {
				bottom: 15%;
				margin-left:50px;
				margin-bottom :100px;
				font-size: 8;
				left:0%;
				width:20%;
				align: centre;
				background: pink;
				}

		.control-label {
		    position: relative;
            width: 100%;
            margin-bottom: 40px;
            box-sizing: border-box;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: black;
            }


    </style>
</head>
<body>

<br>
<form>
   <div  class="control-label">
<h1 >adding new words</h1>
    <br><br>
    <div class="col-md-3"><div class="form-group">
<label class="control-label">Word : </label>
<input type="text" class="form-control req" value="" name="" aria-required="true" aria-invalid="true" required="">
</div></div>
    <br><br>
<input type="button" value="save" name="submit">

</div>

</form>
</body>
</html>