<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin login</title>
  <style>
    .control-label {
		    position: relative;
            width: 100%;
            margin-bottom: 40px;
            box-sizing: border-box;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: black;
            }
  </style>
</head>
<body>


<form action="choose.html" method="post">
    <div  class="control-label" >
<h1>admin login</h1>
    {% csrf_token %}
{{ form.as_p }}
<!--<div  class="control-label" >
<h1>admin login</h1>
<div class= "control-label"}>
<label >Admin Id : </label>
    {{ form.admin_id }}
   <input type = "text" class = "txtPost" placeholder = "id" name="admin_id" required>
</div>
    <br><br>
    <div class= "control-label"}>
    <label >password : </label>
    {{ form.admin_password }}
<input type = "password" class = "txtPost" placeholder = "password" name="password" required>
    </div>
        <br><br>
    <div class= "control-label"}>
        <label >Subject : </label>
    {{ form.subject }}
<select class = "txtPost" required>
    <option value="">select</option>
  <option value="English">English</option>
  <option value="Mathematics">Mathematics</option>
     <option value="physics">physics</option>
     <option value="biology">biology</option>
     <option value="social studies">social studies</option>
</select>
    </div> -->
       <button type="submit" class ="btnPost btnBlue" >login</button>
</div>
</form>
<script>
    function fun(src)
    {
        window.location=src;
    }
</script>
</body>
</html>