<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AR Technology</title>
    <style>
        #myselection {
				bottom: 15%;
				margin-left:50px;
				margin-bottom :100px;
				font-size: 8;
				left:0%;
				width:20%;
				align: centre;
				background: rgb(229, 223, 224);
				}

		.control-label {
		    position: relative;
            width: 100%;
            margin-bottom: 40px;
            box-sizing: border-box;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: black;
            }


    </style>
</head>
<body>

    <form method="post" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}
        <div class="control-label">
            <h1>Choose Page</h1>
            <br> <br>
            <select id="myselection" name="myselection">
                <option disabled selected>-select-</option>
                <option value="add words">add words</option>
                <option value="play game">play game</option>
                <option value="students information">students information</option>
            </select>
            <br> <br>
            <input type="submit" value="Submit">
        </div>
    </form>

    <script>
        function handleFormSubmit(event) {
            event.preventDefault();
            var selectedOption = document.getElementById("myselection").value;
            if (selectedOption === "add words")
            {
                window.location.href = "{% url 'addWords' %}";
            }
            if (selectedOption === "play game")
            {
                window.location.href = "{% url 'argame' %}";
            }
            if (selectedOption === "students information")
            {
                window.location.href = "{% url 'students_info' %}";
            }
        }
    </script>


</body>
</html>
