<html>
    <head>
        <title>Student Login</title>
        <style>
          .control-label {
		        position: relative;
                width: 100%;
                margin-bottom: 40px;
                box-sizing: border-box;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: black;
            }
        </style>
    </head>
    <body>
        <form method="post" action="{% url 'argame1' %}">
            {% csrf_token %}

            <div class= "control-label"}>
                <h1>Student Login</h1>
            <label >Student Id : </label>
               <input type = "text" class = "txtPost" placeholder = "id" name="student_id" required>
            </div>
                <br>
                <div class= "control-label"}>
                <label >password : </label>
            <input type = "password" class = "txtPost" placeholder = "password" name="password" required>
                </div>
                    <br>
                <div class= "control-label"}>
                    <label >Subject : </label>
            <select class = "txtPost" name = "subject" required>
                <option value="">select</option>
              <option value="English">English</option>
              <option value="Mathematics">Mathematics</option>
                 <option value="physics">physics</option>
                 <option value="biology">biology</option>
                 <option value="social studies">social studies</option>
            </select>
                </div>
                <div class= "control-label"}>
                  <button type="submit" class ="btnPost btnBlue" >login</button>
                </div>
            </div>
            </form>

    </body>
</html>