body {
				/* remove margins and scroll bars */

					text-align: center;
				}

				.button {
				background: white;
				border: 1px solid #000;
				border-radius: 4px;
				color: #000;
				/* display: flex; */
				font-size: 1em;
				/* padding: 1 1; */
				position: absolute;
				float:left;
				text-transform: uppercase;
				z-index: 1001;
      		}
			#undo {
			bottom:15%;
			left:20%;
			width:100px;
			margin-left:-50px;
			margin-bottom :10px;
			}
			#dropButton {
			bottom:15%;
			left:80%;
			width:100px;
			margin-left:-50px;
			margin-bottom :10px;
			}
			#controlButton {
				left: 50%;
				bottom: 15%;
				margin-left:-75px;
				margin-bottom :10px;
				width:150px;
				font-size: 1em;
			}
			#showInfo {
				left: 50%;
				bottom: 10%;
				margin-left:-75px;
				margin-bottom :10px;
				width:150px;

			}
			#status {
				left: 50%;
				bottom: 20%;
				margin-left:-100px;
				margin-bottom :10px;
				font-size: 1.5em;
			}
			#splash {
				left:12.5% ;
				bottom:50%;
				width: 75%;
				/* height:300px; */
				/* text-align: center; */
				/* margin-left:-250px; */
			}
			#scoreCard {
				left:12.5% ;
				bottom:50%;
				width: 75%;
				/* height:300px; */
				/* text-align: center; */
				/* margin-left:-250px; */
			}
			#instructions {
				font-size: 8;
				left:10%;
				width:80%;
				/* height:300px; */
				/* text-align: center; */
				/* margin-left:-250px; */
			}
			#timeP {
				border:none;
				background-color: transparent;
				color:#fff;
			}